<div id="carouselImageSlide" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "slider1.png", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "slider2.png", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "slider3.png", class: "d-block w-100" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselImageSlide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselImageSlide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h2 class="mt-3">Recommended Products</h2>
<%= render "shared/product_slide", products: @recommended_products, id_slide: "RecommendProductsCarousel" %>

<h2 class="mt-3">Best Sellers</h2>
<%= render "shared/product_slide", products: @best_sellers, id_slide: "BestSellersCarousel" %>

<h2 class="mt-3">New Arrival</h2>
<%= render "shared/product_slide", products: @new_arrival_products, id_slide: "NewArrivalCarousel" %>
