<div class="row">
  <% if @orders.empty? %>
    <div class="col-lg-12 text-center">
      <%= image_tag "empty-orders.png", class: "d-block mx-auto" %>
      <%= link_to "Continue Shopping", root_path, class: "btn btn-primary mt-3" %>
    </div>
  <% else %>
    <div class="d-flex justify-content-between align-items-center mb-3">
    <h2><%= "Order Hisotry" %></h2>
    <%= form_with(url: orders_path, method: :get) do |form| %>
      <div class="mb-3">
        <%= form.label :order_status, "Order Status" %>
        <%= form.select :order_status, options_for_select(Order.statuses), class: "form-control" %>
      </div>
    <% end %>
  </div>
    <div class="col">
      <% @orders.each do |order| %>
        <div class="order-info custom-shadow p-3 mb-4">
          <div class="order-header">
            <h4>Order ID: <%= order.id %></h4>
            <hr>
            <div class="d-flex justify-content-between align-items-start">
              <div class="order-summary">
                <p class="order-date"><%= order.created_at.strftime("%B %d, %Y %I:%M %p") %></p>
                <p>Total: <%= number_to_currency(order.total_price) %></p>
                <p>Number of Items: <%= order.order_items.sum(:quantity) %></p>
                <%= render partial: "status_badge", locals: { status: order.status } %>
                <br>
              </div>
              <div class="order-contact">
                <p><strong>Address:</strong> <%= order.address %></p>
                <p><strong>Phone:</strong> <%= order.phone %></p>
              </div>
            </div>
            <% if order.wait_confirm? %>
              <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#cancelForm<%= order.id %>">Cancel Order</button>
            <% end %>
            <button class="btn btn-primary btn-show-details" type="button" data-bs-toggle="collapse"
              data-bs-target="#orderDetails<%= order.id %>">Show Details</button>
          </div>
          <div class="collapse order-details" id="orderDetails<%= order.id %>">
            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Image</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <% order.order_items.each do |item| %>
                  <tr>
                    <td><%= item.product.name %></td>
                    <td class="text-center"><%= render "shared/small_image_display", product: item.product %></td>
                    <td><%= number_to_currency(item.product.price) %></td>
                    <td><%= item.quantity %></td>
                    <td><%= number_to_currency(item.quantity * item.product.price) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <% if order.wait_confirm? %>
          <div class="collapse" id="cancelForm<%= order.id %>">
            <%= form_with(model: order, class: "order-cancellation-form") do |form| %>
              <div class="mb-3">
                <%= form.label :reason_description, placeholder: "Cancellation Reason" %>
                <%= form.text_field :reason_description, class: "form-control order_cancellation_reason" %>
              </div>
              <%= form.submit "Submit", class: "btn btn-danger cancel-button", disabled: true %>
              <p class="text-danger">Please provide a cancellation reason.</p>
            <% end %>
          </div>
          <% end %>

        </div>
      <% end %>
    </div>
  <% end %>
</div>