<div class="row">
  <div class="col-md-2">
    <ul class="list-group">
      <%= search_form_for @q, class: "mb-3" do |f| %>
        <%= f.search_field  :name_or_action_text_rich_text_body_cont, placeholder: "Search products...", class: "form-control me-2" %>
        <%= f.label :category_id_eq, "Category", class: "form-label mt-2" %>
        <%= f.select :category_id_eq, options_for_select(category_selection, params.dig(:q, :category_id_eq)),
                                              { include_blank: "Select a Category" }, class: "form-control me-2" %>
        <%= f.label :price_gteq, "Min Price", class: "form-label mt-2" %>
        <%= f.number_field :price_gteq, placeholder: "Min Price", class: "form-control me-2 mt-2" %>
        <%= f.label :price_lteq, "Max Price", class: "form-label mt-2" %>
        <%= f.number_field :price_lteq, placeholder: "Max Price", class: "form-control me-2 mt-2" %>
        <%= f.submit "Search", class: "mt-2 btn btn-outline-success" %>
      <% end %>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-8 center">
        Order By:
      </div>
      <div class="col-md-2">
        <span><%= sort_link(@q, :price, "Price", default_order: :asc, class: "btn btn-link text-decoration-none") %></span>
      </div>
      <div class="col-md-2">
        <span><%= sort_link(@q, :created_at, "Date", default_order: :asc, class: "btn btn-link text-decoration-none") %></span>
      </div>
    </div>
    <% if @products.empty?  %>
      <div class="text-center">
        <%= image_tag "empty_items.png", class: "d-block mx-auto mb-4 empty-items-img" %>
      </div>
    <% else %>
      <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
        <% @products.each do |product| %>
          <%= link_to product_path(product), class: "text-decoration-none" do %>
            <div class="col">
              <div class="card h-100">
                <%= render "shared/image_display", product: product %>
                <div class="card-body">
                  <h5 class="card-title"><%= truncate(product.name, length: Settings.display.product_name, omission: "...") %></h5>
                  <p class="card-text"><%= number_to_currency(product.price) %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %>
    <% end %>
  </div>
</div>
