<div class="row">
  <div class="col-md-2">
    <h4>Categories</h4>
    <ul class="list-group">
      <% @categories.each do |category| %>
        <li class="list-group-item"><%= link_to category.name, products_path(category_id: category.id), class: "text-decoration-none" %></li>
      <% end %>
      <li class="list-group-item"><%= link_to "All", products_path, class: "text-decoration-none" %></li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
      <% @products.each do |product| %>
        <%= link_to product_path(product), class: "text-decoration-none" do %>
          <div class="col">
            <div class="card h-100">
              <%= render "shared/image_display", product: product %>
              <div class="card-body">
                <h5 class="card-title"><%= truncate(product.name, length: Settings.display.product_name, omission: "...") %></h5>
                <p class="card-text"><%= number_to_currency(product.price) %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
